@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_wxj1hQyrrJmTw9rW9lne7bA-ie_VqktsIsdUCD6wRQ&s);
    background-size: cover;
    background-position: center;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    background-color: #C9F6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}

.logo{
    font-size: 32px;
    font-weight: 600;
    font-family: cursive;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.btn{
    background: #3498db;
    padding: 12px 25px;
    border-radius: 25px;
    color: #fff;
    transition: 0.5s;
}

.btn:hover{
    background-color: transparent;
    border: 4px solid #3498db;
    color: #000;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #3498db;
    color: #fff;
}

h1{
    font-weight: 800;
    font-size: 36px;
    margin: 30px 0px 0px 0px;
}

.container p{
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button{
    background: #3498db;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    transition: .5s;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    background-color: transparent;
    border: 2px solid #3498db;
    color: #000;
}

.contact-left h3{
    font-size: 24px;
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding: 20px;
}

tr td{
    font-size: 15px;
    padding-top: 0px;
}
