@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_wxj1hQyrrJmTw9rW9lne7bA-ie_VqktsIsdUCD6wRQ&s);
    background-size: cover;
    background-position: center;
}

nav{
    background-color: #C9F6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}

.logo{
    font-size: 32px;
    font-weight: 600;
    font-family: cursive;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.btn{
    background: #3498db;
    padding: 12px 25px;
    border-radius: 25px;
    color: #fff;
    transition: 0.5s;
}

.btn:hover{
    background-color: transparent;
    border: 4px solid #3498db;
    color: #000;
}

.content{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .left{
    width: 50%;
}

.left{
    font-size: 30px;
}

.left p{
    font-size: 16px;
    color: #888;
    padding-block: 20px;
}

.right{
    width: 40%;
}

.right img{
    width: 100%;
    height: 100%;
}
